body {
       --major-color: #222222;
       --minor-color: orange;
       margin: 0px;
       font-family: Arial, Helvetica, sans-serif;
       transition-duration: 0.3s;
       background-color: var(--major-color);
       color: white;
}


@keyframes flyIn {
       from { transform: translate(0px, -1000px);}
       to {transform: translate(0px, 0px);}
}

p {
       margin-top: 10px;
}

h2 {
       color: orange;
       font-weight: 700;
       font-size: 4vw;
       text-align: center;
       margin-bottom: 20px;
       margin-top: 5px;
}

#main {
       width: 100vw;
       height: 100vh;
       background-image: url("../assets/classic-world-video-game-background-free-vector.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.filter {
       width: inherit;
       height: inherit;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: rgba(128, 128, 128, 0.7);
}

.alert{
       color: orange;
       font-weight: 600;
}

.dev-form {
       background-color: #222222;
       border-radius: 10px;
       border: none;
       width: 50vw;
       height: fit-content;
       padding: 20px 0px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       animation-name: flyIn;
       animation-duration: 0.5s;
       animation-fill-mode: forwards;
}

.major-input {
       background-color: transparent;
       border: 2px orange solid;
       color: white;
       font-weight: 700;
       width: 200px;
       height: fit-content;
       border-radius: 15px;
       margin-top: 10px;
       align-self: center;
       transition-duration: 0.3s;
       padding: 20px;
}

.major-input:hover {
       background-color: orange;
       border-color: transparent;
       cursor: pointer;
}

input {
       width: 35vw;
       height: 40px;
       border: 2px white solid;
       border-radius: 10px;
       font-size: 25px;
       background-color: #222222;
       align-self: center;
       color: white;
}

label {
       font-weight: 700;
       font-size: 20px;
       margin-bottom: 10px;
       align-self: center;
}

form {
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-top: 30px;
}